

.home{
    .block-container{
        line-height: 10px;
        font-size: 10px;
    }
    .block{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-left: 1px solid #ccc;
        background-repeat: no-repeat;
        background-size: 10px 10px;
    }

    .day-row{
        padding: 15px;
        border-bottom: 1px solid #ccc;
    }
}